<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @survey.title %>
</p>

<p>
  <b>Descrption:</b>
  <%= @survey.descrption %>
</p>

<p>
  <b>Content:</b>
  <%= @survey.content %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
